:root{
  --nameColor:coral;
  --name_color:rgba(255, 0, 0, 0.5);
  --headingColor: rgb(50,80,255);
  
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: whitesmoke;
 font-family: serif
}
html{
  scroll-behavior: smooth;
}
ul{
  display: flex ;
  flex-direction: row;
}
ul li{
  list-style: none ;
  display: flex ;
  flex-direction: row;
  
  
  
}
ul li a{
    text-decoration: none;
    margin: 5px 10px ;
    font-weight: 800;
    color:var(--headingColor) ;
  }

header{
  position: fixed;
  width: 100%;
  font-weight:bolder ;
  background-color: #ccc ;
  display: flex ;
  flex-direction: row;
  justify-content: space-between ;
  
  
  
}
header div{
  margin-left: 5px ;
  font-size: 1.3rem;
  color: var(--nameColor);
  
}
header div span{
  font-size: 1.1rem;
  color: var(--name_color);
  
}
/* 《《《《《《《《《《《《《《 

      body ataylin

                    》》》》》》》》》》》》》》 */

body{
    background-color: whitesmoke;
    
  }
  p{
   color:rgb(10,10,20);
  }
img {
  border-radius: 20%;
  width: 80%;
  position: relative;
  top: 50px;
  left: 10%;
  z-index: -1;
}

h1 {
  color: var(--headingColor);
  margin: 90px 0 20px;
  text-align: center;
  font-weight: 900;
}
.about{
  text-align: center;
  font-weight: 800;
  line-height: 1.7;
}
.about span:first-child{
  color: var(--nameColor);
  font-size: 20px ;
}
.about span:last-child{
  color: var(--nameColor);
  font-size: 17px;
}

/* 《《《《《《《《《《《《Skils》》》》》》》》》》》
*/
 table{
    width: 90%;
    border: dashed deepskyblue 2px;
    color: yellowgreen;
    margin: auto ;
    border-radius: 10px;
    table-layout: fixed;
    
  }
table thead th{
  border: solid 2px coral;
  border-radius: 12px;
  font-weight: 900;
  color: red;
  background-color: rgba(0, 0, 255, 0.2);
  font-size: 25px ;
  
}
table td {
  border: solid orangered 2px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border-radius: 15px;
  padding: 5px 0 ;
  color:rgb(10,10,20);
}
.contact{
  color:rgb(10,10,20);
  font-size: 20px ;
  font-weight: 800;
  text-align: center;
  margin: 50px  0 ;
}
.contact a{
  color: coral;
  font-weight: 900;
  font-size: 22px;
}

.up{
  background-color: white ;
  color: black;
  font-size: 30px ;
  font-weight:900;
  width: 100px ;
  height: 50px;
  border: 2px solid var(--nameColor);
  border-radius: 50px;
  text-align: center;
  position: absolute ;
  left: 70%
}
.up a{
  text-decoration: none;
  color: black;
  
}
#btn{
  position: fixed;
  top: 35px ;
  color:rgb(10,10,20);
  font-weight:bolder;
  font-size: 20px;
  width: 60px;
  height: 40px ;
  border: 2px solid coral;
  border-radius:10px ;
  
}
.bar{
  width: 86%;
  height: 1.7rem;
  background-color: #ccc;
  margin: 90px auto 0;
  overflow: hidden;
}
 #progress{
   
   width: 7%;
   height: 100%;
   color: darkblue;
   font-weight: bolder;
   font-size: 29px ;
   background-color: greenyellow;
   padding-top: auto ;
   text-align: center;
 }
 .down{
   font-size: 20px ;
   font-weight: bolder;
   margin: 0 5rem ;
   width: 10rem;
   height: 4rem ;
   border-radius: 10px ;
   color: rgb(10,10,20);
 }


footer {
  width: 100%;
  height: 50px;
  margin-top: 130px ;
  background-color: rgb(0, 0, 10);
  color: rgb(24, 10, 255);
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
}
@media (min-width: 800px) {
  img{
    border-radius: 20%;
    width: 90%;
    height: 800px;
    position: relative;
    top: 50px;
    left: 5%;
    z-index:-1;}
  header{
    position: fixed;
    background-color: #ccc;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;}
    
    footer{
      margin-top: 230px;
      font-size: 50px;
    }
}

